<div style="width: 100%; height: 100vh; text-align: center; font-family: 'Times New Roman', serif;">

    <!-- College Name -->
    <h1 style="font-size: 22px; font-weight: bold; text-transform: uppercase; margin-bottom: 5px;">
        Meerut Institute of Technology, Meerut
    </h1>

    <!-- Affiliation -->
    <h3 style="font-size: 18px; font-weight: bold; margin-bottom: 30px;">
        (Affiliated to APJ Abdul Kalam Technical University, Lucknow)
    </h3>

    <!-- University Logo -->
    <img src="http://localhost:8080/images/aktu.png" alt="College Logo" style="width: auto; height: 120px; margin-bottom: 15px; margin-top: 15px;"/>

    <!-- Title -->
    <h2 style="font-size: 20px; text-decoration: underline; margin-top: 40px;">
        Laboratory Manual
    </h2>

    <!-- Subject Information -->
    <h3 style="font-size: 20px; margin-top: 40px;">
        Subject: <span style="font-weight: bold;">[[${subjectName}]]</span>
    </h3>
    <h3 style="font-size: 18px; margin-top: 10px;">
        ([[${subjectCode}]])
    </h3>

    <!-- Department & Academic Year -->
<!--    <h3 style="font-size: 20px; margin-top: 30px;">-->
<!--        Academic Year: <span style="font-weight: bold;">[[${academicYear}]]</span>-->
<!--    </h3>-->
    <h3 style="font-size: 20px; margin-top: 40px;">
        B.Tech
    </h3>
    <h3 style="font-size: 18px; margin-top: 10px;">
        ([[${department}]])
    </h3>

    <!-- Professor Name -->
    <h3 style="font-size: 20px; margin-top: 60px;">
        Prepared by: <span style="font-weight: bold;">[[${professor}]]</span>
    </h3>

    <!-- College Logo -->
    <img src="http://localhost:8080/images/mitlogo.png" alt="College Logo" style="width: auto; height: 100px; margin-bottom: 15px; margin-top: 35px;"/>

    <!-- Address -->
    <h1 style="font-size: 18px; font-weight: bold; margin-top: 40px;">
        Meerut Institute of Technology, Meerut
    </h1>
    <h3 style="font-size: 18px; font-weight: bold; margin-top: 5px;">
        National Highway 58, By-pass Road, Baral Partapur, Meerut,
        Uttar Pradesh 250103
    </h3>

</div>

<!-- Page Break for PDF -->
<div style="page-break-before: always;"></div>